@import 'tailwindcss';
@import 'tw-animate-css';
@import '@fontsource-variable/inter';
@plugin "@tailwindcss/typography";
@variant dark (&:where(.dark, .dark *));

@theme {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-card: var(--card);
    --color-card-foreground: var(--card-foreground);
    --color-popover: var(--popover);
    --color-popover-foreground: var(--popover-foreground);
    --color-primary: var(--primary);
    --color-primary-foreground: var(--primary-foreground);
    --color-secondary: var(--secondary);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-muted: var(--muted);
    --color-muted-foreground: var(--muted-foreground);
    --color-accent: var(--accent);
    --color-accent-foreground: var(--accent-foreground);
    --color-destructive: var(--destructive);
    --color-destructive-foreground: var(--destructive-foreground);
    --color-border: var(--border);
    --color-input: var(--input);
    --color-ring: var(--ring);
    --color-primary: var(--text-primary);
    --color-secondary: var(--text-secondary);

    --color-bg-primary: var(--background-primary);
    --color-bg-surface: var(--background-surface);
    --color-cta: oklch(48.8% 0.243 264.376);

    --font-sans: 'Inter Variable', sans-serif;
    --radius-lg: var(--radius);
    --radius-md: calc(var(--radius) - 2px);
    --radius-sm: calc(var(--radius) - 4px);
}

@layer base {
    :root {
        --background: oklch(1 0 0);
        --foreground: oklch(0.145 0 0);
        --card: oklch(1 0 0);
        --card-foreground: oklch(0.145 0 0);
        --popover: oklch(1 0 0);
        --popover-foreground: oklch(0.145 0 0);
        --primary: oklch(0.205 0 0);
        --primary-foreground: oklch(0.985 0 0);
        --secondary: oklch(0.97 0 0);
        --secondary-foreground: oklch(0.205 0 0);
        --muted: oklch(0.97 0 0);
        --muted-foreground: oklch(0.556 0 0);
        --accent: oklch(0.97 0 0);
        --accent-foreground: oklch(0.205 0 0);
        --destructive: oklch(0.577 0.245 27.325);
        --destructive-foreground: oklch(0.985 0 0);
        --border: oklch(0.922 0 0);
        --input: oklch(0.922 0 0);
        --ring: oklch(0.708 0 0);
        --radius: 0.625rem;

        --text-primary: oklch(21% 0.034 264.665);
        --text-secondary: oklch(37.3% 0.034 259.733);
        --background-primary: oklch(98.5% 0.002 247.839);
        --background-surface: #ffffff;
        --background-muted: oklch(92.8% 0.006 264.531);
        --border-color: oklch(92.8% 0.006 264.531);
    }

    .dark {
        --background: oklch(0.145 0 0);
        --foreground: oklch(0.985 0 0);
        --card: oklch(0.205 0 0);
        --card-foreground: oklch(0.985 0 0);
        --primary: oklch(0.922 0 0);
        --primary-foreground: oklch(0.205 0 0);
        --border: oklch(1 0 0 / 10%);
        --input: oklch(1 0 0 / 15%);

        --text-primary: oklch(100% 0.00011 271.152);
        --text-secondary: oklch(70.7% 0.022 261.325);
        --background-primary: oklch(21% 0.034 264.665);
        --background-surface: oklch(27.8% 0.033 256.848);
        --background-muted: oklch(37.3% 0.034 259.733);

        --border-color: oklch(37.3% 0.034 259.733);
    }

    * {
        @apply border-border;
    }

    body {
        @apply antialiased bg-background text-foreground;
        background-color: var(--background-primary);
        color: var(--text-primary);
        font-family: var(--font-sans);
        line-height: 1.5;
        scrollbar-gutter: stable;
    }
    .prose {
        outline: none;
        ul,
        ol {
            padding: 0 1rem;
            margin: 1.25rem 1rem 1.25rem 0.4rem;

            li p {
                margin-top: 0.25em;
                margin-bottom: 0.25em;
            }
        }
        h1,
        h2 {
            margin-top: 3.5rem;
            margin-bottom: 1.5rem;
        }

        h1 {
            font-size: 1.4rem;
        }

        h2 {
            font-size: 1.2rem;
        }
        code {
            background-color: oklch(94.3% 0.029 294.588);
            border-radius: 0.4rem;
            color: var(--text-primary);
            font-size: 0.85rem;
            padding: 0.25em 0.3em;
        }

        pre {
            background: black;
            border-radius: 0.5rem;
            color: white;
            font-family: 'JetBrainsMono', monospace;
            margin: 1.5rem 0;
            padding: 0.75rem 1rem;

            code {
                background: none;
                color: inherit;
                font-size: 0.8rem;
                padding: 0;
            }
        }

        blockquote {
            border-left: 3px solid var(--gray-3);
            margin: 1.5rem 0;
            padding-left: 1rem;
        }

        mark {
            background-color: #faf594;
            border-radius: 0.4rem;
            box-decoration-break: clone;
            padding: 0.1rem 0.3rem;
        }

        hr {
            border: none;
            border-top: 1px solid var(--gray-2);
            margin: 2rem 0;
        }
    }
    .prose code::before,
    .prose code::after {
        content: '' !important;
        display: none !important;
    }
    .prose p {
        margin-top: 0.1rem !important;
        margin-bottom: 0.1rem !important;
    }

    input:-webkit-autofill {
        -webkit-box-shadow: 0 0 0px 1000px var(--background-surface) inset !important;
        transition: background-color 5000s ease-in-out 0s;
    }
}
